<?xml version="1.0" encoding="UTF-8"?>
<!-- iReport 2 Configuration file - Thu Oct 02 20:36:16 BRT 2014 -->
<!DOCTYPE iReportProperties PUBLIC "-//iReport/DTD iReport Configuration//EN" "http://ireport.sourceforge.net/dtds/iReportProperties.dtd">
<iReportProperties>
	<iReportProperty name="UseAutoRegiesterFields"><![CDATA[true]]></iReportProperty>
	<iReportProperty name="Country"><![CDATA[]]></iReportProperty>
	<iReportProperty name="DefaultUnit"><![CDATA[cm]]></iReportProperty>
	<iReportProperty name="BackupPolicy"><![CDATA[2]]></iReportProperty>
	<iReportProperty name="ViewBorderForTextElements"><![CDATA[true]]></iReportProperty>
	<iReportProperty name="ExternalPDFViewer"><![CDATA[]]></iReportProperty>
	<iReportProperty name="RecentFilesLength"><![CDATA[10]]></iReportProperty>
	<iReportProperty name="DefaultCompilationDirectory"><![CDATA[.]]></iReportProperty>
	<iReportProperty name="GridSize"><![CDATA[10]]></iReportProperty>
	<iReportProperty name="showGrid"><![CDATA[false]]></iReportProperty>
	<iReportProperty name="toolbarTextVisible"><![CDATA[true]]></iReportProperty>
	<iReportProperty name="snapToGrid"><![CDATA[false]]></iReportProperty>
	<iReportProperty name="ViewRules"><![CDATA[true]]></iReportProperty>
	<iReportProperty name="ExternalCSVViewer"><![CDATA[]]></iReportProperty>
	<iReportProperty name="usingMultiLineExpressions"><![CDATA[false]]></iReportProperty>
	<iReportProperty name="DefaultBackupDirectory"><![CDATA[]]></iReportProperty>
	<iReportProperty name="SaveBeforeCompiling"><![CDATA[true]]></iReportProperty>
	<iReportProperty name="Language"><![CDATA[pt]]></iReportProperty>
	<iReportProperty name="Compatibility"><![CDATA[999999]]></iReportProperty>
	<iReportProperty name="ExternalHTMLViewer"><![CDATA[]]></iReportProperty>
	<iReportProperty name="DefaultTemplate"><![CDATA[]]></iReportProperty>
	<iReportProperty name="ExternalEditor"><![CDATA[]]></iReportProperty>
	<iReportProperty name="ExternalXLSViewer"><![CDATA[]]></iReportProperty>
	<iReportProperty name="LookAndFeel"><![CDATA[System]]></iReportProperty>
	<iReportProperty name="toolbarFormattingVisible"><![CDATA[true]]></iReportProperty>
</iReportProperties>
